

<button type="button" class="btn btn-primary" (click)="comprar()" data-bs-toggle="modal" data-bs-target="#exampleModal">Carrito</button>
<div class="row row-cols-1 row-cols-md-3 g-4" id="contenido">
<div class="col" *ngFor="let item of Producto12; let indice = index">
  <div class="card" style="align-items: center" >
   <img src="{{item.imagen}}" class="card-img-top " style="width: 150px " alt="...">
   <div class="card-body">
     <!-- <h5 class="card-title">{{item.id_producto}}</h5> -->
     <p class="card-text">Nombre: {{item.name}} <span class="fs-2" style="color: red" ></span></p>
     <p class="card-text">Precio: ${{item.costo}} </p>
     <a  class="btn btn-primary" (click)="Agregar(indice)">Agregar al carrito</a>
     <!-- <input type="number" placeholder="Cantidad a comprar" #cantidad{{indice}}> -->
     </div>
  </div>
  </div>`
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id producto</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of Total; let indice = index" >
              <th scope="row" *ngIf="item!=null">{{indice+1}}</th>
              <td *ngIf="item!=null">{{Producto12[indice].name}}</td>
              <td *ngIf="item!=null">{{item}}</td>
              <td *ngIf="item!=null">{{Valor[indice]}}</td>
            </tr>  
            <tr>
              <th scope="row"></th>
              <td>Pago Total</td>
              <td></td>
              <td>{{Total2}}</td>
            </tr>  
          </tbody>
          
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  type="button" class="btn btn-primary">
           <a class=" text-white" href="https://www.pse.com.co/persona">Pago PSE</a>
        </button>
      </div>
    </div>
  </div>
</div>