
<div class="row row-cols-1 row-cols-md-3 g-4" id="contenido">
<div class="col" *ngFor="let item of Producto12">
  <div class="card" style="align-items: center" >
   <img src="{{item.imagen}}" class="card-img-top " style="width: 150px " alt="...">
   <div class="card-body">
     <h5 class="card-title">{{item.id_producto}}</h5>
     <p class="card-text">Nombre: {{item.name}} <span class="fs-2" style="color: red" ></span></p>
     <p class="card-text">Precio: ${{item.costo}} </p>
     <a href="#" class="btn btn-primary">Agregar al carrito</a>
     </div>
  </div>
  </div>`
</div>