


<!--
<form class="row g-3 container" [formGroup]="productForm" (ngSubmit)="AgregarProducto()">
    <div class="col-md-2">
      <label for="id_producto" class="form-label"># Producto</label>
      <input type="number" formControlName="id_producto"  class="form-control" >
      <span class="text-danger ps-1 fw-bold">El identificador del producto es obligatorio</span>
    </div>

    <div class="col-md-6">
      <label for="producto" class="form-label">Nombre</label>
      <input type="text" formControlName="name" class="form-control" id="producto">
      <span class="text-danger ps-1 fw-bold">El Nombre del producto es obligatorio</span>
    </div>
    <div class="col-2">
      <label for="stock"  class="form-label">Cantidad en inventario</label>
      <input type="number" formControlName="stock" class="form-control" id="stock">
      <span class="text-danger ps-1 fw-bold">La cantidad del producto es obligatorio</span>
    </div>
    <div class="col-md-2">
        <label for="costo" class="form-label">Precio de venta</label>
        <input type="number" formControlName="costo" class="form-control" id="costo">
        <span class="text-danger ps-1 fw-bold">El precio del producto es obligatorio</span>
    </div> 
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" formControlName="reservado" for="gridCheck"> Producto Activo
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" style="margin: 10px" class="btn btn-primary">Agregar Producto</button>
      <button type="submit" style="margin: 10px"class="btn btn-primary">Actualizar Producto</button>
    </div>
  </form>
-->

<form   class="container" [formGroup]="productForm" (ngSubmit)="AgregarProducto()">
  <h1 class="bd-title mb-0">Crea o Actualiza tu producto del inventario!</h1>
  <br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Id Producto</label>
    <input type="text" class="form-control"  formControlName="id_producto" aria-describedby="emailHelp">
  <label *ngIf="productForm.get('id_producto')?.hasError('required') && productForm.get('id_producto')?.touched">Campo Obligatorio</label>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">
    <label *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched">Campo Obligatorio</label>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Cantidad de inventario</label>
    <input type="number" class="form-control" formControlName="stock" aria-describedby="emailHelp">
    <label *ngIf="productForm.get('stock')?.hasError('required') && productForm.get('stock')?.touched">Campo Obligatorio</label>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Precio de ventas</label>
    <input type="number" class="form-control"  formControlName="costo"aria-describedby="emailHelp">
    <label *ngIf="productForm.get('costo')?.hasError('required') && productForm.get('costo')?.touched">Campo Obligatorio</label>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Reservado</label>
    <input type="text" class="form-control" formControlName="reservado" aria-describedby="emailHelp">
    <label *ngIf="productForm.get('reservado')?.hasError('required') && productForm.get('reservado')?.touched">Campo Obligatorio</label>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Producto Activo</label>
  </div>
   
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" [disabled]="productForm.invalid" type="submit">Crear producto</button>
    <button class="btn btn-primary" type="button">Actualizar producto</button>
  </div>
</form>

<br>
<app-listar-productos></app-listar-productos>