<div class="container">
  <table class="table" *ngIf="this.lstProductos">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio de venta</th>
      <th scope="col">Cantidad Reservado</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.lstProductos;">
      <th scope="row"> {{item.id_producto}} </th>
      <td>{{item.name}}</td>
      <td>{{item.stock}}</td>
      <td>$ {{item.costo}}</td>
      <td>{{item.reservado}}</td>
    </tr>

  </tbody>
</table>
</div>
