
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </header>


<main class="container catalogo">
    <div class="row">
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Millonaria</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 6.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Margarita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mariana</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rosa</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pepita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 5.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Carmelita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
 
    </div>
</main>


