<div style="width: 65%; height: 65%;">
    <section class="plantas-margin">
        <div id="Carruselzombie" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#Carruselzombie" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#Carruselzombie" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#Carruselzombie" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#Carruselzombie" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#Carruselzombie" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active d-flex align-items-center">
                    <img src="assets/img/1 begonia-pichon.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/2 centavito_.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/3 .jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/4 pensamiento.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>four slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/5 violeta-alpes.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Five slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Carruselzombie" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Carruselzombie" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>
</div>


<main class="container catalogo">
    <div class="row">
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Millonaria</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 6.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Margarita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mariana</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rosa</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pepita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/img/catalogo 5.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Carmelita</h5>
                            <p class="card-text">Alegra tu vida con las mas bellas plantas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$23.000</li>
                            <li class="list-group-item">A domicilio</li>
                            <li class="list-group-item">Incluye maceta</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver detalle</a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-3" style="border-color: lightgrey;">

            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white d-flex-mod">
                <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                    <!-- link-dark -->
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Ultimas Noticias</span>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small>Wed</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Tues</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Mon</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Wed</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Tues</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Mon</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Wed</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Tues</small>
                        </div>
                        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </div>
</main>