<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cc del cliente</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Valor total</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1023942877</td>
        <td>Zulma rocio</td>
        <td>23/05/2022</td>
        <td>4000</td>
        <td>Cancelado</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>1023942877</td>
        <td>Zulma rocio</td>
        <td>23/05/2022</td>
        <td>4000</td>
        <td>Cancelado</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>1023942877</td>
        <td>Zulma rocio</td>
        <td>23/05/2022</td>
        <td>4000</td>
        <td>Cancelado</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>1023942877</td>
        <td>Zulma rocio</td>
        <td>23/05/2022</td>
        <td>4000</td>
        <td>Cancelado</td>
      </tr>
    </tbody>
  </table>
  