<div class="container">
  <h1 class="bd-title mb-0 text-center title__page" >Histórico de Facturas!</h1>
  <br>
<table *ngFor="let tablafacturas of Factura12" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cc del cliente</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Valor total</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{tablafacturas.id_cliente}}</td>
        <td>{{tablafacturas.nombre_cliente}}</td>
        <td>{{tablafacturas.fecha}}</td>
        <td>{{tablafacturas.valor_total}}</td>
        <td>{{tablafacturas.estado}}</td>
      </tr>
    
    </tbody>
  </table>
</div>