<form [formGroup]="formulario" (ngSubmit)="lead()"  class="container mt-5"  >
    <div class="mb-3">
        <label  for="exampleInputEmail1" class="form-label">Nombre</label>
        <input formControlName="nombrelead" type="correo" class="form-control" id="exampleInputEmail1">
      
      <p  *ngIf="formulario.get('nombrelead')?.hasError('required') && formulario.get('nombrelead')?.touched">Nombre obligatorio</p>
      </div>
    <div class="mb-3">
      <label  for="exampleInputEmail2" class="form-label">Correo electronico</label>
      <input formControlName="correolead"  type="email" class="form-control" id="exampleInputEmail2">
      <p *ngIf="formulario.get('correolead')?.hasError('pattern')">Correo invalido</p>
      <p  *ngIf="formulario.get('correolead')?.hasError('required') && formulario.get('correolead')?.touched">Correo obligatorio</p>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Telefono</label>
      <input  formControlName="telefonolead" type="number" class="form-control" id="exampleInputPassword1" >
      <p  *ngIf="formulario.get('telefonolead')?.hasError('required') && formulario.get('telefonolead')?.touched">Telefono obligatorio</p>
    </div>
    <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary">Submit</button>
  </form>
